<h1><%= @product.title %></h1>
Price:<%= @product.price %> </br>


Have you listed the product?
<% if @product.is_listed? %>
   YES
<% else %>
  NO
<% end %> </br>

Shop Link:<%= @product.link %></br>

<% if current_user ==@product.user %>
<a href ="/products/<%=@product.id%>/edit">Edit Product</a>

<form method="post" action="/products/<%= @product.id %>">
  <input type="hidden" name="_method" value="delete" />
  <input type="submit" value = "Delete">
</form>

<% end %>
